/* ESERCIZIO 1 */

.ex-1-square:hover{

   transition: 3s;
   background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square:active{

 width: 1000px;
 transition: 1s;
}

/* ESERCIZIO 3 */

.ex-3-square:hover{

   border-radius: 100%;
   transition: 2s;
}

/* ESERCIZIO 4 */

.ex-4-square:hover{

   transition: 3s;
   opacity: 0;  /* DOPO SOLUZIONE - ho provato con "display:none" ma non ottengo l'effetto sperato */

}


   /* ESERCIZIO 5 */

   .ex-5-square:hover{
      transition: 3s;
      transform: scale(2,2);
   
   }
   
   .ex-5-square:active{
      transition: 3s;
      transform: scale(0.5 , 0.5);

   }


   /* ESERCIZIO 6 */
   
   .ex-6-img:hover{

      filter: grayscale(100%);

   }

   /* ESERCIZIO 7 */   

   .ex-7-img:hover{

      transition:  2s;
      filter: sepia(0.7) grayscale(0.3);
     
   }

   /* ESERCIZIO 8  */

   .ex-8-img:hover{
      transition: 3s;
      border-radius: 10%;
      filter: grayscale(0.75);
      filter: sepia(0.75);
     
        
   }


   /* ESERCIZIO 9 */

   .ex-9-img:hover{
      transition: 3s;
      transform: scale(1.5);
      border-radius: 10%;
     filter: sepia(0.5) grayscale(0.5);

   }


   /* ESERCIZIO 10 */
     .ex-10-icon{
        animation-name: rotate;
        animation-duration: infinite;
     
   }

   @keyframes rotate{

      0% {
      transform: rotate(360deg);
      }
   }
   

   /* ESERCIZIO 11 */

   .ex-11-icon:hover{
      
   }



   /* ESERCIZIO 12 */




   /* ESERCIZIO 13 */